version: '3'

services:
  app: 
    build:
      context: .
      dockerfile: Dockerfile
    ports: 
      - "3000:3000"
    volumes:
      - .:/app
    environment:
      RAILS_ENV: development
      RAILS_LOG_TO_STDOUT: 1
      BUNDLE_PATH: /app/vendor/bundle
